<div class="row">
  <div class="col-lg-3">
    <%= render 'categories' %>
  </div>
  <div class="col-lg-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white" >
        <li class="breadcrumb-item active">Home</li>
      </ol>
    </nav>
    <%= render 'products' %>
  </div>
</div>
